/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
}

blockquote,
q {
	quotes: "" "";

	&::before {
	}

	.blockquote-icons {
		position: relative;

		&:before,
		&:after {
			content: '"';
			color: $color__text-main;
			position: absolute;
			font-size: 6rem;
			transform: translate(-50%, -50%);
			height: 1em;
		}

		&:after {
			right: 0;
			transform: translate(50%, -50%);
		}
	}

	.blockquote-background {
		position: relative;
		z-index: 1;
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: $color__main-theme-decoration;
			top: 1rem;
			right: 1rem;
			z-index: -1;
		}
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

img {
	height: auto; // Make sure images are scaled correctly.
	max-width: 100%; // Adhere to container width.
}

figure {
	margin: 1em 0; // Extra wide images within figure tags don't overflow the content area.
}

/* LINKS */
a {
	color: $color__link;

	&:visited {
		// color: $color__link-visited;
		color: currentColor;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

/* LISTS */

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

/* TABLES */

table {
	margin: 0 0 1.5em;
	width: 100%;
}

.image {
	&--overflowing {
		@media screen and (min-width: 1280px) {
			max-width: 150%;
		}
	}
}

.pt-50perc {
	padding-top: 50%;
}

.mt-20perc {
	margin-top: 20%;
}

.border-decoration-color {
	border-color: $color__main-theme-decoration;
}

.decoration-color {
	color: $color__main-theme-decoration;
}
