/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */

*,
*::before,
*::after {
	box-sizing: inherit;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html {
	box-sizing: border-box;
}

body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
}

#page-wrapper {
	overflow: hidden;
}

::selection {
	background-color: $color__main-theme-decoration--trans;
}

blockquote,
q {
	quotes: "" "";

	.blockquote-icons {
		position: relative;
		max-width: 85%;
		margin: auto;

		&:before,
		&:after {
			content: "";
			color: $color__text-main;
			position: absolute;
			font-size: 6rem;

			width: 48px;
			height: 28px;
			background-repeat: no-repeat;
			background-size: contain;

			@media screen and (min-width: 640px) {
				width: 60px;
				height: 40px;
			}

			@media screen and (min-width: 1280px) {
				width: 94px;
				height: 61px;
			}
		}

		&:before {
			background-image: url(../dist/img/quotemark-right.png);
			transform: translate(-100%, -100%);
		}

		&:after {
			background-image: url(../dist/img/quotemark-left.png);
			right: 0;
			transform: translate(90%, 25%);
		}
	}

	.blockquote-background {
		position: relative;
		z-index: 1;
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: $color__main-theme-decoration;
			top: 1rem;
			right: 1rem;
			z-index: -1;
		}
	}

	// p {
	// 	position: relative;

	// 	span {
	// 		position: absolute;

	// 		&:first-of-type {
	// 			top: 0;
	// 			left: 0;
	// 		}
	// 	}
	// }
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

img {
	height: auto; // Make sure images are scaled correctly.
	max-width: 100%; // Adhere to container width.
}

figure {
	margin: 1em 0; // Extra wide images within figure tags don't overflow the content area.
}

/* LINKS */
a {
	color: $color__link;

	&:visited,
	&:focus,
	&:active {
		color: $color__link;
	}

	&:hover {
		color: $color__link;
	}

	&:focus {
		outline: 0;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

/* LISTS */

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

/* TABLES */

table {
	margin: 0 0 1.5em;
	width: 100%;
}

.image {
	&--overflowing {
		max-width: 100%;
		width: 100%;
		object-fit: cover;

		@media screen and (min-width: 1280px) {
			width: auto;
			max-width: 150%;
		}
	}
}

.pt-50perc {
	padding-top: 50%;
}

.mt-20perc {
	margin-top: 20%;
}

.border-decoration-color {
	border-color: $color__main-theme-decoration;
}

.decoration-color {
	color: $color__main-theme-decoration;
}

.decoration-background {
	background-color: $color__main-theme-decoration;
}

.tabs-wrapper {
	@media screen and (min-width: 992px) {
		max-width: 75%;
	}

	.tab {
		&__content {
			display: none;
			background-color: $color__main-theme-decoration--semitrans;
			max-width: 92.5%;
		}

		&__title {
			background-color: $color__main-theme-decoration;
		}

		&--active {
			.tab__title {
				box-shadow: 0px 15px 10px 0px #000;
			}

			.expand-arrow {
				transform: rotate(90deg);
			}

			.tab__content {
				display: block;
			}
		}
	}
}

.social-media {
	margin: 0 auto;

	a {
		transition: 0.3s ease-in-out;
		svg {
			transition: 0.3s ease-in-out;
		}

		&:hover {
			border-color: $color__main-theme-decoration;

			svg {
				fill: $color__main-theme-decoration;
			}
		}
	}
}

.expand-arrow {
	width: 25px;
	height: 25px;
	min-width: 25px;
	background-image: url(../dist/img/arrow-right.png);
	background-repeat: no-repeat;
	background-size: contain;
	transition: all 0.2s ease-in-out;
}

.bg-image {
	&--75 {
		background-size: 75%;
		background-repeat: no-repeat;
	}
}

.button {
	padding: 1rem 2rem;
	display: block;
	width: fit-content;
	border-radius: 1rem;
	margin: auto;

	&--standard {
		background-color: $color__main-theme-decoration;
	}
}

.map {
	width: 100%;

	iframe {
		width: 100%;
		height: 100%;
		min-height: 420px;
	}
}

.contact-info {
	background-color: $color__main-theme-decoration;

	padding: 3rem 1.5rem;
	@media screen and (min-width: 1280px) {
		padding: 3rem 4rem;
	}

	a:hover {
		color: #000;
	}
}

.reveal-from {
	&__element {
		// transition: all 0.5s linear;
		opacity: 0;
	}

	&--left {
		transform: translate(-25%, 0%);
	}

	&--right {
		transform: translate(25%, 0%);
	}

	&--bottom {
		transform: translate(0%, 25%);
	}

	&--transparent {
		opacity: 0;
	}

	&--transparent-with-delay {
		opacity: 0;
	}
}

.revealed {
	.reveal-from {
		&--left {
			animation: revealFromLeft 1s ease forwards;
		}

		&--right {
			animation: revealFromRight 1s ease forwards;
		}

		&--bottom {
			animation: revealFromBottom 1s ease forwards;
		}

		&--transparent {
			animation: revealFromTransparent 1s ease forwards;
		}

		&--transparent-with-delay {
			animation: revealFromTransparent 1s ease 0.75s forwards;
		}
	}
}

@keyframes revealFromLeft {
	0% {
		transform: translate(-25%, 0%);
		opacity: 0;
	}

	90% {
		transform: translate(0%, 0%);
		opacity: 1;
	}

	100% {
		transform: translate(0%, 0%);
		opacity: 1;
	}
}

@keyframes revealFromRight {
	0% {
		transform: translate(25%, 0%);
		opacity: 0;
	}

	90% {
		transform: translate(0%, 0%);
		opacity: 1;
	}

	100% {
		transform: translate(0%, 0%);
		opacity: 1;
	}
}

@keyframes revealFromBottom {
	0% {
		transform: translate(0%, 25%);
		opacity: 0;
	}

	90% {
		transform: translate(0%, 0%);
		opacity: 1;
	}

	100% {
		transform: translate(0%, 0%);
		opacity: 1;
	}
}

@keyframes revealFromTransparent {
	0% {
		opacity: 0;
	}

	90% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}
}

.readmore {
	position: relative;
	width: fit-content;

	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		left: 0;
		bottom: -0.25rem;
		background-color: $color__main-theme-decoration;
		transition: 0.3s ease-in-out;
	}

	&:hover {
		color: $color__main-theme-decoration;

		&::after {
			width: 0;
		}
	}
}

.site {
	opacity: 0;
	transition: all 0.3s ease-in;
}

.page-loaded {
	opacity: 1 !important;
}

.my-preloader {
	height: 100vh;
	position: fixed;
	width: 100vw;
	background: $color__background-body;
	z-index: 99999;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	// transition: all 0.3s ease-in;
	opacity: 1;

	.preloader-content {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 10em;
		width: 10em;
		animation: myPreloaderMove 1.5s infinite;
		position: absolute;
		background-position: center;
		// left: 50%;
		// top: 50%;
		// transform: translate(-50%, -50%);

		img {
			object-fit: contain;
		}
	}
}

@keyframes myPreloaderMove {
	0% {
		transform: scale(1.1);
		opacity: 0;
	}

	50% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		transform: scale(1.1);
		opacity: 0;
	}
}

.my-preloader-off {
	opacity: 0;
}

.my-preloader-none {
	display: none;
}
