/* COLORS */
$color__background-body: #3d3733;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

$color__link-hover: #191970; //midnightblue
$color__text-main: #fff;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__page-background-dark: #1e1e1e;

$color__link: #bf943e; //royalblue
$color__link-visited: #bf943e; //purple
$color__main-theme-decoration: #bf943e;
$color__main-theme-decoration--semitrans: #bf943eab;
$color__main-theme-decoration--trans: #bf943e56;

/* TYPOGRAPHY */
// $font__main: "Montserrat";
$font__quote: "Yeseva One", "cursive";
$font__special: "Dulcelin", "cursive";

:root {
	--fs-400: 1rem;
	--fs-600: clamp(1.25rem, 1.5vw + 1rem, 2.25rem);
	--fs-800: clamp(1.5rem, 1.75vw + 1rem, 2.25rem);
	--fs-1200: clamp(2rem, 3vw + 1rem, 4.5rem);
	--fs-1400: clamp(3rem, 4vw + 1rem, 5.5rem);
}

@media (min-width: 40em) {
	// :root {
	// 	--fs-600: 3rem;
	// 	--fs-400: 1.125rem;
	// }
}

$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

/* STRUCTURE */
$size__site-main: 100%;
$size__site-sidebar: 25%;

/* RWD */
$break__medium: 40.063em;
$break__large: 64.063em;

/* TRANSITIONS */
$transition_regular: all 0.3s ease-in-out;
$transition__button--standard: all 0.2s ease-in-out;

/* ELEMENTS */
$padding__side-main--desktop: 12.5%;
$padding__content-box: 2rem;
