// /* MENUS */

// .main-navigation {
// 	clear: both;
// 	display: block;
// 	float: left;
// 	width: 100%;

// 	ul {
// 		display: none;
// 		list-style: none;
// 		margin: 0;
// 		padding-left: 0;

// 		ul {
// 			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
// 			float: left;
// 			position: absolute;
// 			top: 1.5em;
// 			left: -999em;
// 			z-index: 99999;

// 			ul {
// 				left: -999em;
// 				top: 0;
// 			}

// 			li {
// 				&:hover > ul,
// 				&.focus > ul {
// 					left: 100%;
// 				}
// 			}

// 			a {
// 				width: 200px;
// 			}

// 			:hover > a,
// 			.focus > a {
// 			}

// 			a:hover,
// 			a.focus {
// 			}
// 		}

// 		li:hover > ul,
// 		li.focus > ul {
// 			left: auto;
// 		}
// 	}

// 	li {
// 		float: left;
// 		position: relative;

// 		&:hover > a,
// 		&.focus > a {
// 		}
// 	}

// 	a {
// 		display: block;
// 		text-decoration: none;
// 	}

// 	.current_page_item > a,
// 	.current-menu-item > a,
// 	.current_page_ancestor > a {
// 	}
// }

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

/* Switching from toggle menu to full display */
@media screen and (min-width: 1024px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-header {
	// .welcome-text {
	// 	@media screen and (min-width: 512px) {
	// 		transform: translateY(-75%);
	// 	}
	// }

	.main-navigation {
		position: absolute;
		top: 0;
		right: 0;

		@media screen and (min-width: 1024px) {
			position: relative;
		}
	}

	&__content {
		top: 1rem;
		left: 1rem;

		img {
			max-width: 150px;
		}

		@media screen and (min-width: 1024px) {
			top: 2rem;
			left: 2rem;

			img {
				max-width: 450px;
			}
		}

		@media screen and (min-width: 1536px) {
			top: 2rem;
			left: 4rem;
		}
	}

	.desktop-menu-container {
		@media screen and (max-width: 1024px) {
			display: none;
		}

		.menu {
			display: flex;
			flex-flow: column;

			li {
				margin-bottom: 1rem;
				padding: 0.25em 0.5em;
				background: black;
				width: fit-content;
				transition: 0.3s ease-in-out;

				a {
					color: #fff;
					transition: inherit;
					font-weight: 600;
				}

				&:hover {
					background: $color__main-theme-decoration;

					a {
						color: black;
					}
				}
			}

			li.current_page_item {
				background: $color__main-theme-decoration;

				a {
					color: #000;
				}
			}
		}
	}

	.menu-toggle {
		background: transparent;
		border: 2px solid transparent;
		height: 48px;
		width: 48px;
		border-radius: 5px;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		font-size: 16px;
		z-index: 1001;
		transition: $transition_regular;
		margin-left: auto;

		position: fixed;
		right: 1rem;
		top: 1rem;

		@media screen and (min-width: 1024px) {
			display: none;
		}

		span {
			background: #000;
		}

		.span-wrapper {
			position: relative;
			width: 20px;
			height: 16px;

			@media screen and (min-width: 1024px) {
				width: 24px;
				height: 16px;
			}
		}

		span {
			display: block;
			width: 20px;
			height: 2px;
			position: absolute;
			transition: all 0.3s ease-in;

			&:nth-of-type(1) {
				top: 0px;
			}

			&:nth-of-type(2) {
				top: 7px;
			}

			&:nth-of-type(3) {
				top: 14px;
			}

			@media screen and (min-width: 1024px) {
				width: 24px;

				&:nth-of-type(1) {
					top: 0px;
				}

				&:nth-of-type(2) {
					top: 7px;
				}

				&:nth-of-type(3) {
					top: 14px;
				}
			}
		}
	}

	$menu-toggle-animation-length: 0.75s;

	.menu-toggle[aria-expanded="true"] {
		span {
			&:nth-of-type(1) {
				animation: burgerPiece_1_open $menu-toggle-animation-length forwards;
			}

			&:nth-of-type(2) {
				animation: burgerPiece_2_open $menu-toggle-animation-length forwards;
			}

			&:nth-of-type(3) {
				animation: burgerPiece_3_open $menu-toggle-animation-length forwards;
			}
		}

		@keyframes burgerPiece_1_open {
			0% {
				transform: translateY(0px);
			}
			50% {
				transform: translateY(7px);
			}
			100% {
				transform: translateY(7px) rotate(45deg);
			}
		}

		@keyframes burgerPiece_2_open {
			0% {
				transform: translateY(0px);
			}
			50% {
				transform: translateY(0px);
				opacity: 0;
			}
			100% {
				transform: translateY(0px) rotate(0deg);
				opacity: 0;
			}
		}

		@keyframes burgerPiece_3_open {
			0% {
				transform: translateY(0px);
			}
			50% {
				transform: translateY(-7px);
			}
			100% {
				transform: translateY(-7px) rotate(-45deg);
			}
		}
	}

	.menu-toggle[aria-expanded="false"] {
		span {
			&:nth-of-type(1) {
				animation: burgerPiece_1_close $menu-toggle-animation-length forwards;
			}

			&:nth-of-type(2) {
				animation: burgerPiece_2_close $menu-toggle-animation-length forwards;
			}

			&:nth-of-type(3) {
				animation: burgerPiece_3_close $menu-toggle-animation-length forwards;
			}
		}

		@keyframes burgerPiece_1_close {
			0% {
				transform: translateY(7px) rotate(45deg);
			}
			50% {
				transform: translateY(7px);
			}
			100% {
				transform: translateY(0px);
			}
		}

		@keyframes burgerPiece_2_close {
			0% {
				transform: translateY(0px) rotate(0deg);
				opacity: 0;
			}
			50% {
				transform: translateY(0px);
				opacity: 0;
			}
			100% {
				transform: translateY(0px);
			}
		}

		@keyframes burgerPiece_3_close {
			0% {
				transform: translateY(-7px) rotate(-45deg);
			}
			50% {
				transform: translateY(-7px);
			}
			100% {
				transform: translateY(0px);
			}
		}
	}

	&__fixed {
		background-color: $color__background-body;
		padding-top: 1rem;
		padding-bottom: 1rem;

		.custom-logo-link {
			img {
				padding-right: 2em;
			}
		}
	}
}

$mobile-menu-padding-top: 10rem;

.mobile-menu-container {
	position: fixed;
	top: 0;
	left: 0;
	padding-top: $mobile-menu-padding-top;
	padding-bottom: 4rem;
	min-height: 100vh;
	height: 100%;
	height: -webkit-fill-available;
	overflow: scroll;
	width: 100%;
	background-color: $color__page-background-dark;
	transform: translateX(-200%);
	transition: all 0.5s ease-in-out;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	z-index: 999;

	@media screen and (min-width: 1024px) {
		display: none;
	}

	.menu-item {
		position: static;
		transition: all 0.5s ease-in-out;
		width: 100%;
		display: flex;
		align-items: center;
		// border-bottom: 1px solid #efefef;
		order: 1;

		.menu-thumbnail-image {
			display: none;
		}

		a {
			display: flex;
			justify-content: space-between;
			// border-right: 1px solid #efefef;
			transition: all 0.3s ease-in;
			width: 100%;
			justify-content: space-between;
			padding: 1em 1.5em;

			&:hover {
				background: $color__main-theme-decoration;
				color: #000;
			}
		}

		.sub-menu {
			transition: left 0.5s ease-in-out, opacity 0.3s ease-in-out;
			// max-height: 0em;
			// transform: translateX(200%);
			position: absolute;
			left: -200%;
			top: 0;
			height: 100%;
			width: 100%;
			padding-top: $mobile-menu-padding-top;
			background: $color__background-body;
			// z-index: -1;
			// opacity: 0;
			text-align: left;
			display: flex;
			flex-flow: column;
		}

		li.current_page_item {
			background: $color__main-theme-decoration;

			a {
				color: #000;
			}
		}
	}

	.expand-menu-toggle {
		padding: 0.25em 1.5em;
		display: block;
		background: url(../dist/svg/arrow_right.svg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		height: 2em;
		width: 2em;
	}

	.menu-item-expanded {
		width: 100%;
	}

	.sub-menu--expanded {
		// transform: translateX(0%) !important;
		height: 100% !important;
		// z-index: 1 !important;
		// opacity: 1 !important;
		left: 0 !important;
	}

	// .sub-menu--visible {
	// 	top: 0 !important;
	// }

	#back-button {
		order: 0;
		background-color: #efefef;
		position: static;
		padding: 1em 0em;
		transition: all 0.3s ease-in;
		width: 100%;
		display: flex;
		align-items: center;
		border-bottom: 1px solid #efefef;
		font-weight: 400;
		// padding: 0.25em 1.5em;
		padding: 0.5em 1em;

		&:before {
			content: "";
			display: block;
			background: url(../dist/svg/arrow_left.svg);
			width: 24px;
			height: 24px;
			margin-right: 0.5em;
			transform: rotate(0deg);
			transition: $transition_regular;
		}
	}
}

.mobile-menu-container.toggled {
	transform: translateX(0);
}

.menu-item a {
	white-space: nowrap;
}
