/* POSTS AND PAGES */
.sticky {
	display: block;
}

.site {
	background-color: $color__page-background-dark;
	@media screen and (min-width: 1024px) {
		max-width: 75%;
	}
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* ASIDES */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* COMMENTS */

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

section {
	margin: 0 auto 3rem;

	@media screen and (min-width: 992px) {
		margin: 0 auto 8rem;
	}

	&:first-of-type {
		margin-top: 2rem;
	}
}
